<mat-toolbar color="primary" fxLayout="row">

  <shopping-lists-menu [lists]="lists" (onNewListEvent)="onNewList()" (onSetCurrentListEvent)="onSetCurrentList($event)"></shopping-lists-menu>

  <div *ngIf="!editAction else shoppingListEditor" fxLayoutAlign="default center" fxFlex>
    <span fxHide.xs> {{ currentList.name }}</span>

    <h1 fxLayoutAlign="center center" fxFlex>
      <span (click)="onToogleDelete()">{{ currentList.description }}</span>
    </h1>
    <button mat-icon-button *ngIf="deleteAction" (click)="onDeleteList()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!deleteAction && !editAction" (click)="onToogleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div>
  <button mat-menu-item *ngFor="let value of lists" (click)="onSetCurrentList(value)">
    <span>{{ value.name }}</span>
  </button>
</div>

<ng-template #shoppingListEditor>
  <shopping-lists-editor [currentList]="currentList" (onToogleEditEvent)="onToogleEdit()" fxLayoutAlign="default center"
    fxFlex></shopping-lists-editor>
</ng-template>