<form [formGroup]="formLists" (ngSubmit)="OnEditSubmit()" fxLayoutAlign="default center" fxFlex>
  <mat-form-field fxHide.xs>
    <input matInput formControlName="name">
    <mat-error>Invalide</mat-error>
  </mat-form-field>
  <h1 fxLayoutAlign="center center" fxFlex>
    <mat-form-field fxFlex="60" [style.textAlign]="'center'">
      <input matInput formControlName="description">
      <mat-error>Invalide</mat-error>
    </mat-form-field>
  </h1>
  <button mat-icon-button>
    <mat-icon>check</mat-icon>
  </button>
</form>